.appComponent {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 300px;
  border: 2px solid #00CD8A;
  width: max-content;
  padding: .5rem;
  margin: 0 auto;
}
.botonSubmit {
  display: block;
  padding: 0.5rem 1rem;
  border: none;
  box-shadow: 1px 1px 5px black;
  background-color: transparent;
  text-transform: uppercase;
  font-weight: bold;
  transition: all 0.2s ease-in;
  cursor: pointer;
  background-color: #58005c;
  color: white;
  &:hover {
    background-color: white;
    color: #58005c;
  }
}
